@import "elr-scss-functions/src/main";

@mixin elr-icon-button($config: ()) {
  $config: extend(
    (
      round: false,
    ),
    $config
  );

  $round: map-get($config, round);
  width: auto;
  min-width: auto;
  display: inline-flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;

  @if $round == true {
    border-radius: 50%;
    padding: 10px;

    .elr-icon {
      font-size: 20px;
    }
  }

  .elr-icon {
    display: inline-block;
  }

  .elr-button-text {
    padding-left: 10px;
    padding-right: 10px;
  }
}
